header
  .row
    nav
      ul
        li
          a(href='/') All Universities
        li
          form
            i.icon.ion-md-search
            input(type='text' placeholder='Search University')
        li.left-nav
          a(href='#') Log In
        li.left-nav
          a(href='#') Sign Up